* {
    box-sizing: border-box;
    margin: 5px;
}

.head {
    margin : 15px auto;
    width: 1200px;
    text-align: center;
    background-color: azure;
}

.list {
    margin : auto;
    width: 1200px;
    background-color: bisque;
}

.inline {
    margin: 25px auto;
    width: 1200px;
    display: inline-block;
}

.image {
    width: 60%;
    padding: 0 15px;
    float: left ;
}

.link {
    width: 30%;
    padding: 0 15px;
    float: right;
    font-weight: bold;
    font-size: 40px;

}

a:hover {
    color: green;
}


